[package]
name = "pdf_rasterizer"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "pdf_rasterizer"
path = "src/main.rs"

[dependencies]
seahorse = { git = "https://github.com/ksk001100/seahorse", branch = "dev" }
anyhow = "1.0"
image = "0.25"
printpdf = "0.7"
hayro = "0.4"
rayon = "1.10"
